<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.woonwaard.wij_maken_de_wijk"
    android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="androidx.security" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".DiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar.WhiteBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.authentication.InviteScreenActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.authentication.LoginActivity"
            android:exported="false"
            android:label="@string/login"
            android:parentActivityName=".ui.authentication.InviteScreenActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.authentication.RegistrationActivity"
            android:exported="false"
            android:label="@string/signup"
            android:parentActivityName=".ui.authentication.InviteScreenActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:label="@string/start"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.neighborhood_mediation.NeighborhoodMediationActivity"
            android:exported="false"
            android:label="@string/neighborhood_mediation"
            android:parentActivityName=".ui.main.MainActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.repairs.RepairsOverviewActivity"
            android:exported="false"
            android:label="@string/repairs"
            android:parentActivityName=".ui.main.MainActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.repairs.CentralHeatingActivity"
            android:exported="false"
            android:label="@string/central_heating"
            android:parentActivityName=".ui.repairs.RepairsOverviewActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.repairs.GlassActivity"
            android:exported="false"
            android:label="@string/glass"
            android:parentActivityName=".ui.repairs.RepairsOverviewActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.repairs.LiftActivity"
            android:exported="false"
            android:label="@string/lift"
            android:parentActivityName=".ui.repairs.RepairsOverviewActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.repairs.CleaningActivity"
            android:exported="false"
            android:label="@string/cleaning"
            android:parentActivityName=".ui.repairs.RepairsOverviewActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.repairs.GreenMaintenanceActivity"
            android:exported="false"
            android:label="@string/green_maintenance"
            android:parentActivityName=".ui.repairs.RepairsOverviewActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.repairs.EmergencyActivity"
            android:exported="false"
            android:label="@string/emergency_repairs"
            android:parentActivityName=".ui.repairs.RepairsOverviewActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName=".ui.main.MainActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.settings.ChangeEmailActivity"
            android:exported="false"
            android:label="@string/change_email"
            android:parentActivityName=".ui.settings.SettingsActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.settings.ChangePasswordActivity"
            android:exported="false"
            android:label="@string/change_password"
            android:parentActivityName=".ui.settings.SettingsActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.settings.GenerateCodeActivity"
            android:exported="false"
            android:label="@string/create_invite_code"
            android:parentActivityName=".ui.settings.SettingsActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.forums.PinboardOverviewActivity"
            android:exported="false"
            android:label="@string/pinboard"
            android:parentActivityName=".ui.main.MainActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.forums.PostDetailsActivity"
            android:parentActivityName=".ui.forums.PinboardOverviewActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.forums.PostDetailsBubbleActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:launchMode="standard"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.forums.CreatePostActivity"
            android:exported="false"
            android:parentActivityName=".ui.forums.PinboardOverviewActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <receiver android:name="nl.woonwaard.wij_maken_de_wijk.notifications.ReplyReceiver" />
    </application>

</manifest>
